// 重置设置
@import './reset.sass'

// mixin
@mixin els
    text-overflow: ellipsis
    overflow: hidden
    white-space: nowrap

// 公用
.w1200
    width: 1200px
    margin: 0 auto

.fl
    float: left

.fr
    float: right

.els
    @include els

.clear
    clear: both
.fz22
    font-size: 22px
.marginPublic
    margin-top: 20px
.center
   text-align: center
//公共头样式public
.signListMain
    width: 1000px
    position: relative
    top: -65px
    margin: 0 auto
    zoom: 1
.tabList
    color: #fff
    width: 150px
    font-size: 14px
    text-align: center
    height: 40px
    line-height: 40px
    cursor: pointer
    position: relative    
.tabName
    height: 20px
    line-height: 20px
    border-right: 2px solid #fff
//processTab    
.processList
    width: 25%
    text-align: center
    padding: 30px 0
    position: relative
    display: flex
    justify-content: center
    line-height: 60px
.processImg
    background-image: url('../assets/progress-2-normal.png')
    background-repeat: no-repeat
    background-size: 100% 100%
    width: 60px
    height: 60px
//公共阴影    
.matchInfo
    width: 1000px
    min-height: 700px
    margin: 0px auto
    background: #fff
    position: relative
    top: -80px
    box-shadow: 0 8px 32px 0 rgba(0,0,0,.06)
//邀请码弹框
.bodyClass
    background: rgba(0, 0, 0, 0.3)
    width: 100%
    height: 100%
    min-height: 100%
    position: fixed
    top: 0
    left: 0
    .code
        width: 380px
        padding: 30px
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
        background-color: #fff
        opacity: 1
        border-radius: 4px
        .codeText
            font-weight: 700
            text-align: center
            color: #5c5c5c
        input
            display: block
            width: 100%
            height: 40px
            border: 1px solid #5c5c5c
            margin-top: 20px
            color: #999
//登录注册
.publicBack
    background-image: url('../assets/loginBack.png')
    background-repeat: no-repeat
    background-size: 100% 100%
    width: 100%
    min-height: 100%
    position: fixed
    top: 0
.login_top
    width: 500px
    margin: 120px auto
    display: flex
    position: relative
.login
    width: 300px
    margin: 0 auto
    color: #fff
.pass
    float: left
    height: 58px
    line-height: 58px
    text-align: left
    font-size: 18px
    cursor: pointer
    width: 50%  
    margin-bottom: 20px 
.dynamic
    float: right
    height: 58px
    line-height: 58px
    text-align: right
    font-size: 18px
    cursor: pointer
    width: 50%
    margin-bottom: 20px
.num
    // font-size: 18px
    // height: 80px
    // line-height: 80px
    input
        display: block
        width: 300px
        height: 40px
        background: none
        padding: 20px
        border-radius: 5px
        margin: 20px 0
        color: #fff
.getcode
    margin-top: 52px
    height: 35px
    width: 110px
.loginButton
    width: 350px
    height: 40px
    line-height: 40px
    text-align: center
    background: #fff
    border-radius: 5px
    margin: 10px -22px
    color: #000
// .getcode
//     height: 30px
//     line-height: 30px
//     border: 1px solid #000
//     margin-top: 20px
//     border-radius: 5px
//     font-size: 15px
//     width: 85px
//     text-align: center
// .top
//     width: 100%
//     overflow: hidden
//     position: relative
//     min-width: 1200px
//成绩查询样式  
.enrollCheck
    width: 60%
    margin: 0px auto
    height: 90px
    line-height: 80px
    font-size: 24px
    padding-top: 20px
    border-bottom: 2px dashed #999  
.signList
    background-color: #fff
    width: 100%
    position: relative
.event
    font-size: 20px
    padding: 20px 300px
.checkNum
    height: 40px
    line-height: 40px
    margin-top: 20px
    input
        display: block
        width: 300px
        height: 40px
        background: none
        padding: 20px
        border-radius: 5px  
        float: right
.check
    width: 140px
    text-align: center
    font-size: 20px
    background: #c33131
    color: #fff
    height: 35px
    line-height: 35px
    border-radius: 5px
    margin: 20px auto
    cursor: pointer
.goods
    width: 600px
    padding: 20px
    margin: 10px auto
    text-align: left
    border: 1px solid #eee
    border-radius: 5px
    position: relative
.eventName
    height: 40px
    line-height: 40px
    border-bottom: 2px dashed #eee
//赛事新闻样式
// .newsList
//     display: flex
//     width: 80%
//     margin: 0 auto
//     text-align: left
//     font-size: 16px
//     height: 50px
//     line-height: 50px
//     border-bottom: 1px dashed
//     cursor: pointer
//     .matchTime
//         width: 25%
//         text-align: center
//     .matchClass
//         margin: 0px 25px
//         width: 40%
//公共组件样式
.indexMainpage
    background: #eee
.indexInfo
    position: relative
    background: #fff
    .indexLogo
        display: flex
        .listImg
            margin-left: 100px
            img
                margin: 0px 10px
        .logoImage
            margin-left: 30px
        .loginEntry
            position: absolute
            right: 0
            display: flex
            height: 50px
            border: 1px solid #eee
            line-height: 50px
            .index_icon
                margin-top: 8px
                margin-left: 60px
            .gologin
                width: 100px
                text-align: center
                border-right: 1px solid #eee
                cursor: pointer
                span
                    &:hover
                        border-bottom: 1px solid #999
            img
                margin: 0px 5px
        .indexClock
            position: absolute
            width: 320px
            right: 0%
            bottom: 0
            height: 50px
            img
                width: 100%
.indexMiddle
    width: 100%
    min-height: 600px
    background: #eee
    display: flex
ul
    margin: 0
.indexTab 
    width: 12%
    background: #55585d
    color: #eee           
    .listItem
        line-height: 50px
        text-align: center
        font-size: 13px
        cursor: pointer            
        .tabTitle
            &:hover   
                background: #7a7d82
        .menuItem
            margin-left: -20px
            .menuList
                line-height: 30px
                span
                    &:hover   
                        color: #bfa7a7
                        border-bottom: 1px solid #bfa7a7
    

.poster
    width: 68%
    img
        width: 100%
        height: 100%
.checkInfo
    background: #e02929
    .scoreCheck
        height: 200px
        text-align: center
        font-size: 16px
        color: #fff
        background: #c52121
        border-bottom: 1px dashed #fff
        padding: 20px
        .enroll
            cursor: pointer
        span
            display: block
            height: 50px
            line-height: 50px
.sponsor
    width: 30%
    margin: 0 auto
    .sponsorBox
        background: #fff
        margin-top: 10px
        border-radius: 3px
        padding-bottom: 3px
    .title
        text-align: center
        height: 30px
        line-height: 30px
        font-size: 14px
        border-bottom: 1px dashed
    .sponsorImg
        width: 110px
        margin: 10px auto
        border: 1px solid #999
        img
            width: 100%
            height: 100%
.indexRep
    width: 100%
    min-height: 600px
    background: #eee
    display: flex
    .reportLeft
        width: 12%
    .reportMiddle
        padding-top: 20px
    .adver
        width: 89.7%
        display: flex
        height: 145px
        img
            margin: 20px 10px
            width: 49%
    .adverBannerImg
        width: 89.7%
        display: flex
        height: 145px
        img
            margin-top: 20px
            margin-left: 20px
            margin-bottom: 0px
    .adverBanner
        height: 345px
        width: 40%
        // width: 
    .newsInfoList
        width: 25%
        margin-top: 20px
        margin-left: 10px
        .matchReport
            width: 100%
            text-align: center
            color: #fff
            background: #ff0000
            height: 60px
            line-height: 60px
            cursor: pointer
        .newsList
            height: 65px
            margin-top: 5px
            background: #fff
            display: flex
            position: relative
            cursor: pointer
            .matchTime
                margin-left: 10px
                color: #d71418
                font-size: 14px
            .matchClass
                padding: 10px
                height: 65px
                line-height: 45px
                font-size: 14px
                margin-left: 30px
            .indexIcon
                line-height: 65px
                color: #ff0000
                position: absolute
                right: 10px
            .updateDay
                text-align: center
                margin-top: 13px   
    .indexActivity
        width: 550px
        .activityImg
            float: left
            position: relative
            span
                position: absolute
                bottom: 0px
                left: 20px
                width: 92%
                text-align: center
                height: 40px
                background: #232222
                opacity: 0.7
                color: #fff
                line-height: 35px

        // img
            
.indexFooter
    position: relative
    bottom: 0
    background: #999
    top: 60px
    .indexPoster
        background: #fff
        position: relative
        height: 120px
        .posterImg
            position: absolute
            right: 10px
            top: 30px
            img
                margin-left: 10px
    .indexQrcode
        background: #999
        position: relative
        height: 120px
        .posterImg
            position: absolute
            right: 10px
            top: 20px
            img
                margin-left: 10px